doctype html

html
  head
    title= siteConfig.title
    meta(name="description" content=siteConfig.description)
    meta(name="keywords" content=siteConfig.keywords)
    meta(name="author" content=siteConfig.author)
    link(rel="stylesheet", href="./styles/awsm.css")
    link(rel="stylesheet", href="./styles/vn.min.css")
    link(rel="stylesheet", href="./styles/style.css")
    link(rel="shortcut icon" type="image/png" href="./image/logo.png")
    
  body
    header
      h1= siteConfig.title
      h2= siteConfig.description
    main
      section#download
        h3 Download
          p
            a(href="./styles/vn.css") vn.css
          p
            a(href="./styles/vn.min.css") vn.min.css
          p
            a(href="https://github.com/phongduong/vncss") Source code
      section#demo
        h3 Demo
        each value, key in cssRules
          .container
            .result(class=`vn-${key + 1}`)
            .code
              pre
                code= value
    footer
      p Created by #[a(href="https://phongduong.dev") Phong Duong]
